@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Public+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Outfit', sans-serif;
  font-family: 'Public Sans', sans-serif;
  overflow-x: hidden;
}

.modal-body {
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-animation {
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}